::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000;
  }
  
  ::placeholder {
    color: black;
    /* opacity: 1; Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: black;
  }